/* ========================================
   GLOBAL CSS RESET
======================================== */
/* Poppins Regular */
@font-face {
    font-family: "Poppins-regular";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Poppins SemiBold */
@font-face {
    font-family: "Poppins-semibold";
    src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Poppins Bold */
@font-face {
    font-family: "Poppins-bold";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: Poppins-regular;
    
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    /* font-family: Poppins-bold; */
}

/* Lists */

ul,
ol {
    list-style: none;
}

/* Links */

a {
    color: inherit;
    text-decoration: none;
}

/* Buttons & Forms */

button,
input,
textarea,
select {
    font: inherit;
}

button {
    border: 0;
    background: none;
    cursor: pointer;
}

/* Media */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

img,
video {
    height: auto;
}

/* Tables */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Quotes */

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none;
}

/* Textarea */

textarea {
    resize: vertical;
}

/* Details */

summary {
    cursor: pointer;
}

/* Iframes */

iframe {
    border: 0;
    max-width: 100%;
}

/* Keyboard accessibility */

:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 3px;
}